@import url('https://fonts.googleapis.com/css?family=Crimson+Text|Open+Sans|Raleway:800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Sue+Ellen+Francisco&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
  /*background-color: #273043;*/
  background-image: radial-gradient(circle, #FB8500, #FD9E02, #FFB703);
  font-size: 16px;
}

.container-fluid {
  background-color: #fff;
  border: 1px solid #273043;
  border-radius: 25px;
  padding: 25px 60px 25px;
}

p {
  font-family: 'Crimson Text', serif;
}



@-moz-document url-prefix() {
  .MathJax {
    font-size: 100%;
  }

  .math {
    font-size: 140%;
  }
  }
}



