body p{
	font-family: 'Lora', serif;
}

li {
  font-family: 'Lora', serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
}


blockquote {
  margin: 0;
}

blockquote p {
    color: #353535;
    background: rgba(127,127,127,.125);
    border-left: 3px solid #C00;
    margin: 8px 0 24px 0;
    padding: 10px;
    font-size: 80%;
}

.author, .date {
    font-size: 0.9rem;
    font-weight: 400;
    margin: 1rem auto;
    line-height: 1;
}

